<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Example App</title>
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <nav class="navbar">
    <a href="/">Home</a>
    <a href="/products">Shop</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
    {{!-- <a href="#">Sign In</a> --}}
  </nav>

  <div>
    {{{body}}}
  </div>

</body>

</html>