<div class="parallax1">
    <img class="parallaxLogoImage" src="./images/makeYourCakeLogo.jpg" alt="">
</div>
<div class="products">
    <div class="buttonArrange">
        <a class="button" id="makeCake" name="makeCake">
            <span></span>
        </a>
        <a class="button" id="chooseExisting" name="chooseExisting" href="/products">
            <span></span>
        </a>
    </div>

    <div class="creations">
        <div class="container">
            <div class="col-md-3">
                <div class="productInfo">
                    <img src="./images/cake1.webp" alt="">
                    <p>50 KM</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="productInfo">
                    <img src="./images/cake2.webp" alt="">
                    <p>50 KM</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="productInfo">
                    <img src="./images/cake3.webp" alt="">
                    <p>50 KM</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="welcomeToMakeACake">
    <div class="welcomeToMakeACakeContent">
        <h1>Welcome to make a cake!</h1>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard
            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
            a
            type specimen
            book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
            essentially
            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
            passages, and
            more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </div>
</div>

<div class="parallax2">
</div>

<div class="contactMe">
    <div class="welcomeToMakeACakeContent">
        <h1 style="text-align:center;margin-bottom:50px;">CONTACT ME</h1>

        <p class="font_9" style="font-size:15px; line-height:1em; text-align:center;"><span
                style="font-size:14px;"><span><span style="letter-spacing:0.15em;"><span
                            style="font-family:futura-lt-w01-light,sans-serif;"><span class="color_33">(387)
                                62-456-7890</span></span></span></span></span><span style="font-size:15px;"><span><span
                        style="letter-spacing:0.15em;"><span style="font-family:futura-lt-w01-light,sans-serif;"><span
                                class="color_33">&nbsp;/ </span></span></span></span></span><span
                style="font-size:16px;"><span><span style="letter-spacing:0.15em;"><span
                            style="font-family:futura-lt-w01-light,sans-serif;"><span
                                class="color_33">example@outlook.com</span></span></span></span></span></p>

        <p class="font_9" style="font-size:15px; line-height:1em; text-align:center; margin-bottom:50px;"><span
                style="font-size:15px;"><span><span style="letter-spacing:0.15em;"><span
                            style="font-family:futura-lt-w01-light,sans-serif;"><span class="color_33">Sarajevo,71000
                                Bosnia and Herzegovina</span></span></span></span></span></p>

        <form action="send" method="post" class="form-grid">
            <input class="textInput" name="name" style="grid-row-start:1;" type="text" placeholder="Name">
            <input class="textInput" name="email" style="grid-row-start:2;" type="text" placeholder="Email">
            <input class="textInput" name="subject" style="grid-row-start:3;" type="text" placeholder="Subject">
            <textarea class="textareaInput" name="message" style="grid-row:1/-1;" placeholder="Message" cols="20"
                rows="8"></textarea>
            <button type="submit" class="contactSubmit" style="grid-column-start:2;">Submit</button>
        </form>
    </div>
</div>

<div class="footer">

    <div class="socialContainer">
        <img class="facebookIcon" id="facebookIcon" alt="White Facebook Icon" data-type="image"
            data-route="https://facebook.com" style="width: 26px; height: 26px; object-fit: cover;"
            src="https://static.wixstatic.com/media/23fd2a2be53141ed810f4d3dcdcd01fa.png/v1/fill/w_26,h_26,al_c,q_80,usm_0.66_1.00_0.01/23fd2a2be53141ed810f4d3dcdcd01fa.webp">

        <img class="instagramIcon" id="instagramIcon" alt="White Instagram Icon" data-type="image"
            data-route="https://instagram.com" style="width: 26px; height: 26px; object-fit: cover;"
            src="https://static.wixstatic.com/media/6cc776af25744f77ab9c420b98d1abe6.png/v1/fill/w_26,h_26,al_c,q_80,usm_0.66_1.00_0.01/6cc776af25744f77ab9c420b98d1abe6.webp">
    </div>

    <p class="footerCopyright"><span>©2019 by Selma Al Naqli Designs. Created by Muhamed Al Naqli</span></p>
</div>

<script>
    document.getElementById("facebookIcon").addEventListener("click", function () {
        window.open(this.dataset.route, "_blank");
    });

    document.getElementById("instagramIcon").addEventListener("click", function () {
        window.open(this.dataset.route, "_blank");
    });
</script>