<style>
    .navbar {
        background-color: #B0A171;
        color: white;
    }

    .col-md-3 {
        border-radius: 5px 5px 0 0;
    }

    .col-md-3 .productInfo {
        width: 100%;
        background-color: rgb(0, 0, 0, 0.4);
        color: white;
        position: absolute;
        bottom: 0;
        padding: 10px 0;
        display: flex;
    }

    .col-md-3 .productInfo a {
        background-color: rgb(176, 161, 113, 1);
        color: white;
        padding: 10px;
        border: none;
        width: 100px;
        margin: 0 10px;
        text-decoration: none;
        border-radius: 5px;
    }

    .col-md-3 .productInfo a:hover {
        background-color: #c1b17c;
    }

    .col-md-3 h3 {
        cursor: pointer;
        display: inline-block;
        color: rgba(0, 0, 0, 0.75);
    }

    .col-md-3 h3:hover {
        color: rgba(0, 0, 0, 0.85);
    }

    .col-md-3 span {
        position: absolute;
        right: 25px;
        bottom: 20px;
        font-size: 20px;
    }
</style>

<div class="container">
    {{#each products}}
    <div class="col-md-3 background-image" style="background-image: url('/images/cake1.webp');">
        <h3 onclick="location.href='/products/{{this.id}}'">{{this.name}}</h3>
        <div class="productInfo">
            <a href="#" class="shopButton">BUY</a>
            <span>{{this.price}} KM</span>
        </div>
    </div>
    {{/each}}
</div>