<style>
    .navbar {
        background-color: #B0A171;
        color: white;
    }
</style>

<div class="container">

    <div style="display:inline-block; margin-right:10px; width:50%; text-align:right; float:left;">
        <div {{#if product.image}}>
            <img src="{{product.image}}" alt="">
        </div {{/if}}>
    </div>

    <div style="display:inline-block; width:40%;">
        <div>
            <p>Name: <span style="font-weight:700;">{{product.name}}</span></p>
            <p>Description: <span style="font-weight:700;">{{product.description}}</span></p>
            <p>Type: <span style="font-weight:700;">{{product.cakeType}}</span></p>
            <p>Color: <span style="font-weight:700;">{{product.cakeColor}}</span></p>
            <p>Price: <span style="font-weight:700;">{{product.price}}</span></p>
        </div>
    </div>
</div>