    body {
      background-color: white;
      color: #B0A171;
      font: normal normal normal 15px/1.4em futura-lt-w01-light, sans-serif;
      width: 100%;
      height: 100%;
      margin: 0;
    }

    nav {
      position: absolute;
      text-align: center;
      vertical-align: middle;
      line-height: 70px;
      top: 0;
      width: 100%;
      height: 70px;
    }

    nav a {
      margin: 0 10px;
      color: inherit;
      text-decoration: none;
      font-size: 16px;
    }

    nav a:hover {
      color: #3B3626;
    }

    .parallax1 {
      margin-top: 70px;
      height: 684px;
      position: relative;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../images/landingPage1.jpg");
    }

    .parallaxLogoImage {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      top: 30%;
      left: 0;
      right: 0;
      width: 35%;
    }

    .parallax2 {
      height: 500px;

      /* Create the parallax scrolling effect */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../images/landingPage2.jpg");
    }

    .buttonArrange {
      text-align: center;
      margin-top: 100px;
      margin-bottom: 50px;
    }

    .button {
      display: inline-block;
      width: 250px;
      border: 3px solid #B0A171;
      background-color: white;
      color: inherit;
      margin: 0 20px;
      padding: 10px;
      font-size: 16px;
      text-decoration: none;
    }

    .button:hover {
      color: white;
      background-color: #B0A171;
      cursor: pointer;
    }

    #chooseExisting span:after {
      position: relative;
      content: "Choose one of the creations"
    }

    #makeCake span:after {
      position: relative;
      content: "Make your cake"
    }

    #makeCake:hover {
      cursor: not-allowed;
      background-color: rgba(83, 82, 82, 0.1);
      color: rgba(176, 161, 113, 0.5);
      border: 3px solid rgba(176, 161, 113, 0.5);
    }

    #makeCake:hover span:after {
      content: "Comming Soon";
    }

    .welcomeToMakeACake {
      height: 350px;
      background-color: #B0A171;
      color: white;
      width: 100%;
    }

    .welcomeToMakeACakeContent {
      width: 60%;
      margin: 0 auto;
      padding: 50px;
    }

    .welcomeToMakeACake h1 {
      text-align: center;
      margin-bottom: 50px;
    }

    .welcomeToMakeACake p {
      text-align: center;
    }

    .contactMe {
      background-color: #f6f5f5;
      height: 404px;
      width: 100%;
      padding: 0 0 20px 0;
    }

    .form-grid {
      width: 60%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 15em auto;
      grid-template-rows: auto auto auto;
      grid-gap: 5px;
    }

    .textInput {
      background-color: inherit;
      padding: 2px;
      margin: 0 0 5px 0;
      border: 1px solid #B0A171;
    }

    .textInput:hover {
      background-color: white;
    }

    .textInput:focus {
      background-color: rgba(229, 222, 201, 0.2);
      outline: none;
    }

    .textareaInput {
      background-color: inherit;
      margin: 0 0 5px 0;
      border: 1px solid #B0A171;
      resize: none;
    }

    .textareaInput:hover {
      background-color: white;
    }

    .textareaInput:focus {
      background-color: rgba(229, 222, 201, 0.2);
      outline: none;
    }

    .contactSubmit {
      background-color: rgba(176, 161, 113, 1);
      color: white;
      border: none;
      height: 30px;
      width: 100px;
      justify-self: end;
    }

    .contactSubmit:hover {
      background-color: rgba(176, 161, 113, 0.5);
      cursor: pointer;
    }

    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgba(176, 161, 113, 1);
      opacity: 0.6;
      /* Firefox */
      padding: 5px;
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: rgba(176, 161, 113, 1);
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: rgba(176, 161, 113, 1);
    }

    .footer {
      height: 219px;
      width: 100%;
      background-color: rgba(176, 161, 113, 1);
      text-align: center;
    }

    .socialContainer {
      padding: 50px;
    }

    .facebookIcon {
      cursor: pointer;
    }

    .instagramIcon {
      cursor: pointer;
    }

    .footerCopyright {
      line-height: 1.6em;
      text-align: center;
      color: white;
      font: normal normal normal 13px/1.4em futura-lt-w01-light, sans-serif;
    }


    .container {
      margin-top: 100px;
      padding: 20px 20px 100px 20px;
    }

    .col-md-3 {
      width: 29.11%;
      margin: 2%;
      height: 300px;
      display: inline-block;
      position: relative;
      text-align: center;
      vertical-align: middle;
    }

    .background-image {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    /* width */
    ::-webkit-scrollbar {
      width: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    @media only screen and (min-width:320px) and (max-width:480px) {
      .buttonArrange {
        text-align: center;
        margin-top: 70px;
        margin-bottom: 50px;
      }

      #makeCake {
        margin-bottom: 30px;
      }

      .welcomeToMakeACake h1 {
        margin-bottom: 20px;
      }

      .welcomeToMakeACakeContent {
        width: auto;
        margin: 0;
        padding: 5px;
        word-break: break-word;
      }

      .form-grid {
        width: auto;
        margin: 0;
        display: grid;
        grid-template-columns: 15em auto;
        grid-template-rows: auto auto auto;
        grid-gap: 5px;
      }

      .parallaxLogoImage {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top: 30%;
        left: 0;
        right: 0;
        width: 80%;
      }

      .col-md-3 {
        width: 100%;
        margin-bottom: 50px;
      }
    }